.jumbotron{
    color: darkred;
    background-size: contain;
    background-color: whitesmoke;
    opacity: 0.8;
}

img{
    vertical-align: middle;
    width: 100%;
}

select {
    display: block;
    width: 100%;
    padding: 8px;
    color: darkred;
    outline: darkgray;
  }