.jumbotron {
    color: #B9343F ;
    object-fit: contain;
    background-color: white;
    opacity: 0.8;
}

.wine_pic {
    vertical-align: middle;
    object-fit: contain;
    padding: 20px;
}

body {
    background-color:whitesmoke;
}
select {
    display: block;
    width: 100%;
    padding: 8px;
    color: black;
    outline: darkgray;
}
.container-prg {
    background: #90B16A;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:40px;
    margin-right: 10px;
    align-content: center;
    padding: 20px;
    color: white;
}

#scatter1{
    background-color: white;  
}

#barchart{
    background-color: white;  
}

#scatter3{
    background-color: white;  
}
.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: black;
    border-radius: 4px;
  }

/* .wine{
    background-color: #C5C1B4;
    background-size: auto;
} */
table {
    border-collapse: collapse;
    width: 100%;
    height: 1000px;
    overflow: auto;
}
td {
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    border: 1px solid #ccc;
    padding: 10px;
    background-color:black;
    color: white;
    text-align: center;
    
    }
table.dataframe tr:nth-child(even) {
    background-color: #eee;
}
table.dataframe tr:nth-child(odd) {
    background-color: #fff;
}            

  
  
#map {
    height: 600px;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: black;
}
  
footer p {
    margin: 0;
    font-size: 16px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: lightblue;
}

.bar:hover {
  fill: rgb(202, 240, 66) ;
}

.x.axis path {
  display: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
  
  /* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}